/* Styling portfolio */

.portfolio {
  max-width: 1440px;
  padding: 0;
  margin: auto;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 5%;
}

.portfolio__title_big {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #60606e;
  font-size: 30px;
  position: relative;
  width: fit-content;
  margin: auto;
}

.portfolio__title_big::after {
  position: absolute;
  content: "";
  width: 27%;
  height: 55%;
  background-color: #7beec7;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.portfolio__discription {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #60606e;
}

.gallery__aside {
  margin-right: 15%;
}

.aside__title {
  font-family: Montserrat;
  text-transform: uppercase;
  color: #60606e;
  font-size: 30px;
  margin-bottom: 5%;
}

.text_green {
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7beec7;
  padding: 0.5% 4%;
}

.gallery__aside li {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  color: #60606e;
  list-style-type: none;
  margin-left: 10%;
}

.gallery__aside ul {
  padding-left: 0px;
}

.main-gallery {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
  gap: 20px;
}

.img-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.img-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.img-5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.img-6 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.img-7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
}

.img-8 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}

.img-9 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

@media screen and (max-width: 1024px) {
  .portfolio__gallery {
    display: flex;
    flex-direction: column;
  }

  .gallery__aside,
  .main-gallery {
    max-width: 1024px;
    text-align: center;
  }

  .gallery__aside li {
    margin-left: 0px;
    line-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__title,
  .aside__title {
    margin-bottom: 2%;
  }

  .aside__title,
  .portfolio__title_big {
    font-size: 20px;
  }

  .gallery__aside li,
  .portfolio__discription {
    line-height: 20px;
  }

  .gallery__aside {
    max-width: 768px;
    text-align: center;
  }

  .main-gallery {
    max-width: 768px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 1%;
  }

  .img-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .img-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .img-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .img-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .img-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .img-7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .img-8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .img-9 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }
}

@media screen and (max-width: 550px) {
  .gallery__aside li,
  .portfolio__discription {
    font-size: 10px;
  }

  .main-gallery {
    max-width: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-gallery div {
    margin-bottom: 1%;
  }
}
